.App {
    margin: 0;
    padding: 0;
    text-align: center;
}

.data {
    margin: 20px auto;
    border: 5px solid black;
    width: 900px;
}


/*  login page */
.users {
    border: 3px solid black;
    width: 90%;
    margin: auto;
}

.form {
    margin: 20px auto;
    width: 400px;
    display: inline-block;
    border: 3px solid black;
}

.form > input{
    width: 90%;
    padding: 5px;
    margin: 10px;
}
